
  @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Space ;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: rgba(167, 43, 192, 0.062);
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}

#nav {
    height: 100px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    padding: 0 110px;
    gap: 40px;
    justify-content: flex-start;
    position: fixed;
    z-index: 99;
}
 
#nav img {
    height: 80px;
    
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 100;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    /* width: 80%; */
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.36);
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1{
    font-size: 120px;
    font-weight: 600;
    position: relative;
}

#page1 h1::before {
    content: "READ. WRITE. SHARE";
    position: absolute;
    color:rgb(205, 50, 205);
    bottom: -5px;
    left: -3px;
    -webkit-text-stroke: 2px #031114;
    z-index: -1;
}

#page1 h2{
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

#page2 {
    height: 100vh;
    width: 100%;
    z-index: 10;

}

#scroller{
    /* background-color: brown; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    margin-top: 0%;
    z-index: 10;
}

#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space:nowrap;
    animation-name: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite ;
}

#scroller h4 {
    display: inline-block;
    font-size: 110px;
    font-weight: 800px;
    font-family: Tahoma ;
    transition: all linear 0.5;
    margin-right: 20px;
    -webkit-text-stroke: 2px rgba(71, 228, 32, 0.774);
}
#scroller h4:hover{
    color: rgba(71, 228, 32, 0.774);
}


@keyframes scroll {
    from{
        transform:translateX(-100%)
    }
    to{
        transform: translateY(0);
    }
}

#about-us{
    height: 40vh;
    width: 100%;
    padding: 0px;
    margin-top: 5%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content:space-around;
}

#about-us-in{
    width: 40%;
    text-align: center;
}
#about-us-in h3{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 40px;
}
#about-us-in p{
font-size: 20px;
line-height: 26px;
}

#about-us img{
    height: 250px;
    width: 200px;
    border-radius: 10%;
}