* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

html, body {
    height: 100%;
    width: 100%;
}

#nav {
    height: 100px;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    padding: 0 110px;
    gap: 40px;
    justify-content: flex-start;
}
 
#nav img {
    height: 80px;
}