* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

#nav {
    height: 100px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    padding: 0 110px;
    gap: 40px;
    justify-content: flex-start;
    position: fixed;
    z-index: 99;
}
 
#nav img {
    height: 80px;
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 100;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    /* width: 80%; */
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.36);
}

#page1 {
    height: 100vh;
    width: 100%;
}