@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Space;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.521);
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}
#cursor-blur {
  height: 400px;
  width: 400px;
  background-color: rgba(165, 192, 43, 0.137);
  border-radius: 50%;
  position: fixed;
  filter: blur(50px);
  z-index: 9;
}

#nav {
  height: 100px;
  width: 100%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  padding: 0 110px;
  gap: 40px;
  position: fixed;
  justify-content: flex-start;
  z-index: 999;
}

#nav img {
  height: 10.5vh;
}

#nav h4 {
  text-transform: uppercase;
  font-weight: 100;
  cursor: pointer;
  font-size: 1vw;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  /* width: 80%; */
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.36);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}

#page1 h1 {
  font-size: 7.5vw;
  font-weight: 600;
  position: relative;
}

#page1 h1::before {
  content: "READ. WRITE. SHARE";
  position: absolute;
  color: rgb(205, 50, 205);
  bottom: -5px;
  left: -3px;
  -webkit-text-stroke: 2px #031114;
  z-index: -1;
}

#page1 h2 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

#page1 p {
    font-size: 1.2vw;
    font-weight: 500;
    width: 40%;
}
#page2 {
    /* background-color: black; */
    min-height: 100vh;
    width: 100%;
    z-index: 10;
    margin-top: -5%;
}

#scroller {
  /* background-color: brown; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  margin-top: 5%;
  z-index: 10;
}

#scroller::-webkit-scrollbar {
  display: none;
}
#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 110px;
  font-weight: 800px;
  font-family: Tahoma;
  transition: all linear 0.5;
  margin-right: 20px;
  -webkit-text-stroke: 2px rgba(71, 228, 32, 0.774);
}
#scroller h4:hover {
  color: rgba(71, 228, 32, 0.774);
}

@keyframes scroll {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateY(0);
  }
}

#about-us {
  height: 40vh;
  width: 100%;
  padding: 0px;
  margin-top: 5%;
  /* background-color: blue; */
  display: flex;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: space-around;
}

#about-us-in {
  width: 40%;
  text-align: center;
}
#about-us-in h3 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 40px;
}
#about-us-in p {
  font-size: 20px;
  line-height: 26px;
}

#about-us img {
  height: 250px;
  width: 200px;
  border-radius: 10%;
}

#card-container {
  background-color: black;
  height: 60vh;
  display: flex;
  margin-top: 12%;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  z-index: 10;
}

.card {
  height: 80%;
  width: 20%;
  /* background-color: blue; */
  border-radius: 5%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.6s;
}

#card1 {
  background-image: url(https://images.unsplash.com/photo-1597239450996-ea7c2c564412?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
}

#card2 {
  background-image: url(https://images.unsplash.com/photo-1581093196867-ca3dba3c721b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
}
#card3 {
  background-image: url(https://images.unsplash.com/photo-1615906655593-ad0386982a0f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgb(33, 148, 48);
  padding: 20px;
  padding-top: 100px;
  opacity: 0;
  transition: all ease 0.6s;
}

.overlay h4 {
  color: #031114;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
}

.overlay p {
  color: #031114;
  font-size: 18px;
}

.card:hover .overlay{
    opacity: 1;
}

.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}

#quote{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

#quote>p{
    font-size: 30px;
    font-weight: 700;
    width: 55%;
    line-height: 40px;
    text-align: center;
}

#quote img{
    position: absolute;
    height: 10vh;
}

#quote #colon1{
    left: 10%;
    top: 25%;
}
#quote #colon2{
    right: 10%;
    bottom: 25%;
}

#page3{
  height: 70vh;
  width: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.board{
  height: 50vh;
  width: 20vw;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.board h2 {
  height: 100%;
  width: 100%;
  background-color: rgb(60, 210, 30);
  display: flex;
  color: #031114;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  transition: all ease 0.8s;
  font-size: 40px;
  position: absolute;
  z-index: 1;
}

/* #pb{
  color: black;
} */
.board img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.board:hover h2 {
  color: #fff;
  background-color: transparent;
}